:host {
  height: 100%;
}

.admin-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-flow: column;
  gap: 1rem;
  text-align: center;

  .description {
    padding: 1rem;
    font-size: 1.15rem;
  }

  .input-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    width: 100%;

    mat-form-field {
      width: 90%;
    }
  }
}
