<div class="admin-container">
  <div class="description">
    <span class="content"> To get started, we'll need to create the Administrator account. </span>
    <span class="content">This should be your normal account you'll use for your finances as well as controlling this applications settings and users.</span>
  </div>

  <form class="input-form" [formGroup]="form" (submit)="submitAdminAccount()">
    <mat-form-field>
      <mat-label>Username</mat-label>
      <input matInput type="username" formControlName="username" autocapitalize="none" (keyup.enter)="submitAdminAccount()" />
      <mat-error>{{ form.controls.username.hasError("required") ? "Username is required" : "" }}</mat-error>
    </mat-form-field>

    <!-- Password -->
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password" (keyup.enter)="submitAdminAccount()" />
      <mat-error>{{ form.controls.password.hasError("required") ? "Password is required" : "" }}</mat-error>
    </mat-form-field>
  </form>
  <button mat-raised-button color="accent" [disabled]="!form.valid" (click)="submitAdminAccount()">Submit</button>
</div>
