.norm-snackbar {
  .mdc-snackbar__surface {
    background-color: var(--sys-primary) !important;

    .mat-mdc-snack-bar-label {
      color: var(--sys-on-primary) !important;
    }
  }

  button {
    color: var(--sys-on-primary) !important;
  }
}

.error-snackbar {
  .mdc-snackbar__surface {
    background-color: var(--sys-error) !important;

    .mat-mdc-snack-bar-label {
      color: var(--sys-on-error) !important;
    }
  }

  button {
    color: var(--sys-on-error) !important;
    border: none;
  }
}
