{
  "printWidth": 160,
  "overrides": [
    {
      "files": "*.md",
      "options": {
        "tabWidth": 4
      }
    },
    {
      "files": "**/migration/sqlite/*.ts",
      "options": {
        "printWidth": 480
      }
    }
  ]
}
