:host {
  height: 100%;
  display: flex;
  overflow: hidden;
  width: 100%;
  flex-flow: column;
  box-sizing: border-box;
  padding: 0.25rem;
  gap: 0.25rem;
}

.card {
  mat-card-content {
    height: 100%;
  }

  &.transactions {
    flex: 1;
  }

  &.welcome-card {
    text-align: center;
  }
}
