<div class="core-container">
  <!-- Top navbar -->
  <div class="nav top-navbar" *ngIf="shouldRenderNavbar">
    <!-- User info and settings -->
    <button mat-icon-button class="user-button" [matMenuTriggerFor]="userMenu">
      <div class="button-content">
        <mat-icon>account_circle</mat-icon>
        <span class="name">{{ currentUser?.username }}</span>
      </div>
    </button>
    <mat-menu class="user-menu" #userMenu="matMenu">
      <button mat-menu-item (click)="userService.logout()">
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
    <!-- Logo -->
    <img class="logo" src="../../../../assets/logo/color-transparent-no-tag.svg" />
  </div>

  <!-- Render outlet -->
  <div class="outlet-wrapper">
    <router-outlet class="outlet"></router-outlet>
  </div>

  <!-- Bottom navbar -->
  <div class="nav bottom-navbar" *ngIf="shouldRenderNavbar">
    <!-- Route buttons -->
    <ng-container *ngFor="let route of routes">
      <button mat-flat-button *ngIf="route.tabOptions" class="route-button navbar-button" [routerLink]="route.path" routerLinkActive="active-route">
        <div class="button-content">
          <mat-icon>{{ route.tabOptions.icon }}</mat-icon>
          <span>{{ route.tabOptions.label }}</span>
          <div><!-- Flex Placeholder --></div>
        </div>
      </button>
    </ng-container>
  </div>
</div>
