body {
  font-family: "Inter", sans-serif;
  background-color: #111418;
  display: flex;
  flex-flow: column;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  padding-bottom: 2rem;
}

.logo {
  width: 40vh;
  padding-bottom: 1rem;
}

strong {
  color: var(--light-color);
}

.link {
  color: var(--light-color) !important;
}

/* Cards */
.cards {
  display: flex;
  gap: 1rem;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  border-radius: 1rem;
  padding: 1rem;
  background-color: var(--md-primary-fg-color);
  width: 100%;
  min-width: 340px;
  max-width: 1248px;
}

.card-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  width: 100%;
  min-width: 340px;
  max-width: 1248px;
}

.card-row > div {
  flex: 1;
}

.card-row h3 {
  font-weight: bold;
  margin-top: 0.5rem;
  margin-bottom: 0;
}

/* Info styling */

.info h2 {
  margin-top: 0;
  color: var(--light-color);
  font-size: 1.5rem;
  font-weight: bold;
}

.info > p {
  font-size: 0.9rem;
  margin: 0;
}

.center {
  text-align: center;
}

.info > ul {
  margin-left: 5vw;
  font-size: 0.8rem;
}

.info > ul > ul {
  margin-left: 2rem;
}

/* Badges */

.badges {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.badge {
  height: 1.5rem !important;
}

.md-main__inner {
  margin-top: 0;
}
