// // TODO: Dynamic import for color themes
@import "./modules/material/themes/sprout.theme.scss";
@import "./modules/material/themes/snackbar.scss";
@import "./modules/material/themes/card.scss";
@import "./modules/material/themes/base.scss";

:root,
body {
  // Default styling
  height: 100%;
  width: 100%;
  margin: 0;
}
