:host {
  height: 100%;
}

.welcome-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-flow: column;
  gap: 1rem;
  text-align: center;

  .description {
    padding: 1rem;
    font-size: 1.15rem;
  }

  button {
    width: 80%;
  }
}
