:host {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overarching {
  height: 90%;
  width: 90%;
  max-width: 640px;
  display: flex;
  flex-flow: column;
  background-color: var(--primary-color);
  border-radius: 1rem;

  .logo {
    width: 20rem;
    align-self: center;
  }
}
